html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map-canvas {
  height: 100%;
}
#next-page-button,
#previous-page-button,
#next-instruction,
#tutorial-button {
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
  background: linear-gradient(top, #4387fd, #4683ea);
  background: #357ae8;
  border: 0px;
  height: 29px;
  width: 80px;
  margin: 30px 10px;
  color: #ffffff;
  font-weight: bold;
}
#instructions-sidebar {
  width: 150px;
  height: 302px;
  padding: 10px 15px;
  background-color: rgba(256, 256, 256, 0.7);
}
#instructions-sidebar #start-end-time-question {
  float: left;
  margin-left: 10px;
}
#instructions-sidebar #start-end-time-question input {
  width: 50px;
  border-radius: 3px;
}
#instructions-sidebar p {
  font-size: 110%;
}
#instructions-sidebar input#day-of-week {
  width: 130px;
}
.timestamp-opened {
  font-family: 'Andada', serif;
}
.timestamp-opened form input {
  margin: 0 auto;
  padding: 5px;
  width: 50px;
  background-color: #f2f2f2;
}
.timestamp-opened .timestamp-label {
  font-size: 11pt;
}
.timestamp-closed {
  text-align: center;
  font-family: 'Andada', serif;
}
.timestamp-closed .timestamp-label {
  font-size: 10pt;
}
.timestamp-closed .daytime-indicator {
  height: 5px;
  width: 65px;
}
#progress-bar {
  width: 400px;
  height: 20px;
  margin-top: 20px;
  text-align: center;
  padding: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 15px #9a9a9a;
}
#progress-bar #progress-indicator {
  background-color: #4387fd;
  height: 20px;
}
#progress-bar #progress-text {
  position: absolute;
  left: 3px;
  top: 3px;
  height: 20px;
  width: 400px;
  text-align: center;
  color: #000000;
  font-size: 10pt;
}
#test {
  height: 100%;
  width: 100%;
}
#test #test-map {
  height: 100%;
  width: 60%;
}
#instructions-main {
  position: absolute;
  background-color: #ffffff;
  height: 463.5px;
  width: 750px;
  z-index: 1000;
  left: 50%;
  margin-left: -375px;
  top: 75px;
  padding: 2px;
  box-shadow: 0 0 15px #9a9a9a;
  font-family: 'Andada', serif;
}
#instructions-main h2 {
  text-align: center;
}
#instructions-main #instructions-main-content {
  margin: 25px 50px 0 50px;
  overflow: auto;
  height: 349.5px;
}
#instructions-main #instructions-main-content img {
  display: block;
  margin: 0 auto;
  width: 80%;
}
#instructions-main #next-instruction {
  display: block;
  margin: 30px auto;
  background: linear-gradient(top, #8d8d8d, #bdbdbd);
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
  background: #4387fd;
}
.close-box {
  float: right;
  font-family: sans-serif;
  color: #9a9a9a;
  margin: 5px;
}
#error-message {
  background-color: #ff4e4e;
}
html.thankyou {
  background: url('../../images/portal.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#thankyou {
  font-family: 'Andada', serif;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding-top: 150px;
}
#tutorial-fixed-box,
.tutorial-movable-box {
  font-family: 'Andada', serif;
  padding: 15px 20px;
  margin: 0px auto;
  background-color: #ffffff;
}
#tutorial-fixed-box#tutorial-fixed-box,
.tutorial-movable-box#tutorial-fixed-box {
  font-size: 18pt;
  height: 55px;
  margin-bottom: 30px;
}
#tutorial-fixed-box#tutorial-fixed-box #tutorial-button,
.tutorial-movable-box#tutorial-fixed-box #tutorial-button {
  width: 60px;
  margin: 14px 0px 14px 20px;
}
#tutorial-fixed-box.tutorial-movable-box,
.tutorial-movable-box.tutorial-movable-box {
  height: 45px;
}
