html { 
	height: 100% 
}

body { 
	height: 100%; margin: 0; padding: 0
}

#map-canvas {
	height: 100% 
}

@button-height: 29px; 
@button-margin: 30px;
#next-page-button, #previous-page-button, #next-instruction {
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	background: #357ae8;
	border: 0px;
	height: @button-height;
	width: 80px;
	margin: @button-margin 10px;
	color: #ffffff;
	font-weight: bold;
}

#instructions {
	width: 150px;
	padding: 10px 15px;
	background-color: rgba(256, 256, 256, 0.7);

	#start-end-time-question {
		float: left;
		margin-left: 10px;		
	}

	p {
		font-size: 110%;
	}

	input {
		width: 50px;
		border-radius:3px;		
	}

}

.timestamp input {
	width: 50px;
	background-color: #f2f2f2;
}

.timestamp-label {
	font-size: 14pt;
}

#test {
	height: 100%;
	width: 100%;
	#test-map {
		height: 100%;
		width: 60%;
	}
}


#welcome {
	@welcome-width: 750px;
	// @welcome-width: 550px;
	@welcome-height: (@welcome-width*0.618);
	@welcome-margin: 50px;

	position: absolute;
	background-color: rgba(256,256,256,1);
	height: @welcome-height;
	width: @welcome-width;
	z-index: 1000;
	left: 50%;
	margin-left: (-@welcome-width/2);
	top: 75px;
	// top: 150px;
	padding: 2px;
	box-shadow: 0 0 15px #9a9a9a;
	#welcome-content {
		margin: @welcome-margin*0.5 @welcome-margin 0 @welcome-margin;
		overflow: auto;
		height: (@welcome-height - @welcome-margin*0.5 - @button-height - 2*@button-margin);
		img { 
			display: block; 
			margin: 0 auto; 
			width: 50%;	
		}		
	}
	#next-instruction {
		display: block;
		margin: @button-margin auto;
		background: linear-gradient(top,#8d8d8d,#bdbdbd);
		background: -webkit-linear-gradient(top,#4387fd,#4683ea);
		background: #4387fd;
	}
}

.close-box {
	float: right;
 	font-family: sans-serif;
	color: #9a9a9a; 
	margin: 5px;


}	


