html { 
	height: 100% 
}

body { 
	height: 100%; margin: 0; padding: 0
}

#map-canvas {
	height: 100% 
}

#next-page-button, #previous-page-button {
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	background: #357ae8;
	border: 0px;
	height: 29px;
	width: 80px;
	margin: 30px 10px;
	color: #ffffff;
	font-weight: bold;
}

#instructions {
	width: 150px;
	padding: 10px 15px;
	background-color: rgba(256, 256, 256, 0.7);

	#start-end-time-question {
		float: left;
		margin-left: 10px;		
	}

	p {
		font-size: 110%;
	}

	input {
		width: 50px;
		border-radius:3px;		
	}

}

.timestamp input {
	width: 50px;
	background-color: #f2f2f2;
}

.timestamp-label {
	font-size: 14pt;
}

#test {
	height: 100%;
	width: 100%;
	#test-map {
		height: 100%;
		width: 60%;
	}
}


#welcome {
	background-color: #ffffff;
	padding: 20px 20px;
	height: 400px;
	width: 300px;
}	


