html { 
	height: 100% 
}

body { 
	height: 100%; margin: 0; padding: 0
}

#map-canvas {
	height: 100% 
}

@button-height: 29px; 
@button-margin: 30px;
#next-page-button, #previous-page-button, #next-instruction {
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	background: #357ae8;
	border: 0px;
	height: @button-height;
	width: 80px;
	margin: @button-margin 10px;
	color: #ffffff;
	font-weight: bold;
}

#instructions {
	width: 150px;
	padding: 10px 15px;
	background-color: rgba(256, 256, 256, 0.7);

	#start-end-time-question {
		float: left;
		margin-left: 10px;		
	}

	p {
		font-size: 110%;
	}

	input {
		width: 50px;
		border-radius:3px;		
	}

}

.timestamp-opened {
	form {
		input {
			width: 50px;
			background-color: #f2f2f2;
			margin: 0 auto;
		}		
	}
	.timestamp-label {
		font-size: 11pt;
	}
}

.timestamp-closed {
	text-align: center;	
	.timestamp-label {
		font-size: 10pt;
	}
	.daytime-indicator {
		height: 5px;
		width: 60px;
		// background-color: #ffea00;
	}
}

#test {
	height: 100%;
	width: 100%;
	#test-map {
		height: 100%;
		width: 60%;
	}
}


#instructions-main {
	@instructions-main-width: 750px;
	// @instructions-main-width: 550px;
	@instructions-main-height: (@instructions-main-width*0.618);
	@instructions-main-margin: 50px;

	position: absolute;
	background-color: rgba(256,256,256,1);
	height: @instructions-main-height;
	width: @instructions-main-width;
	z-index: 1000;
	left: 50%;
	margin-left: (-@instructions-main-width/2);
	top: 75px;
	// top: 150px;
	padding: 2px;
	box-shadow: 0 0 15px #9a9a9a;
	font-family: 'Andada', serif;
	h2 { text-align: center; }
	#instructions-main-content {
		margin: @instructions-main-margin*0.5 @instructions-main-margin 0 @instructions-main-margin;
		overflow: auto;
		height: (@instructions-main-height - @instructions-main-margin*0.5 - @button-height - 2*@button-margin);
		img { 
			display: block; 
			margin: 0 auto; 
			width: 80%;	
		}		
	}
	#next-instruction {
		display: block;
		margin: @button-margin auto;
		background: linear-gradient(top,#8d8d8d,#bdbdbd);
		background: -webkit-linear-gradient(top,#4387fd,#4683ea);
		background: #4387fd;
	}
}

.close-box {
	float: right;
 	font-family: sans-serif;
	color: #9a9a9a; 
	margin: 5px;
}

#error-message {
	background-color: #ff4e4e;
}	


