html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map-canvas {
  height: 100%;
}
#next-page-button,
#previous-page-button {
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
  background: linear-gradient(top, #4387fd, #4683ea);
  background: #357ae8;
  border: 0px;
  height: 29px;
  width: 80px;
  margin: 30px 10px;
  color: #ffffff;
  font-weight: bold;
}
#instructions {
  width: 150px;
  padding: 10px 15px;
  background-color: rgba(256, 256, 256, 0.7);
}
#instructions #start-end-time-question {
  float: left;
  margin-left: 10px;
}
#instructions p {
  font-size: 110%;
}
#instructions input {
  width: 50px;
  border-radius: 3px;
}
.timestamp input {
  width: 50px;
  background-color: #f2f2f2;
}
.timestamp-label {
  font-size: 14pt;
}
#test {
  height: 100%;
  width: 100%;
}
#test #test-map {
  height: 100%;
  width: 60%;
}
#welcome {
  position: absolute;
  background-color: #ffffff;
  height: 463.5px;
  width: 750px;
  z-index: 1000;
  left: 50%;
  margin-left: -375px;
  top: 75px;
  padding: 2px;
}
#welcome #welcome-content {
  margin: 20px;
  overflow: auto;
  height: 423.5px;
}
.close-box {
  float: right;
  border: 1px solid #9a9a9a;
  font-family: sans-serif;
  color: #9a9a9a;
  padding: 1px;
}
